
/Wallet.Web/.vs/Wallet.Web/FileContentIndex
/Wallet.Web/Wallet.Web.Shared/obj/Debug
/Wallet.Web/Wallet.Web.Shared/obj/Debug/net8.0
/Wallet.Web/Wallet.Web/Wallet.Web/obj
/Wallet.Web/Wallet.Web.Shared/obj
/Wallet.Web/Wallet.Web.Shared/obj/Debug/net8.0
/Wallet.Web/Wallet.Web/Wallet.Web.Client/obj
/Wallet.Web/Wallet.Web/Wallet.Web/bin
/Wallet.Web/Wallet.Web/Wallet.Web.Client/bin
/Wallet.Web/Wallet.Web/Wallet.Web/obj
/Wallet.Web/Wallet.Web/Wallet.Web.Client/obj
/Wallet.Web/Wallet.Web/Wallet.Web/obj
/Wallet.Web/Wallet.Web.Shared/bin
